/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/*
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tống quan đến chi tiết
*/

/*
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, ....)
*/

#main {
     
}

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.row {
    margin-right: -8px;
    margin-left: -8px;
}

.col {
    float: left;
    margin-top: 8px;
    margin-bottom: 8px;
}

.col-third {
    width: 33.33%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
}
#nav {
    display: inline-block;
}

#nav .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}
#nav li {
    position: relative;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 48px;
    padding: 0 24px;
    display: block;
}
#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    background-color: #ccc;
    color: #000;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav li:hover {
    color: #000;
}

#nav .subnav a {
    color: #000;
    padding: 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-button {
    float: right;
    padding: 0 21px;
}

#header .search-button:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;   
}
#slider1 {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/img/slider/slider1.jpg) top center / cover no-repeat;
}
#slider1 .text-content {
    position: absolute;
    bottom: 47px;
    color: #000;
    width: 100%;
    text-align: center;
}

#slider1 .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider1 .text-description {
    font-size: 15px;
    margin-top: 25px;
}

#slider2 {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/img/slider/slider2.jpg) top center / cover no-repeat;
}
#slider2 .text-content {
    position: absolute;
    bottom: 47px;
    color: red;
    width: 100%;
    text-align: center;
}

#slider2 .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider2 .text-description {
    font-size: 15px;
    margin-top: 25px;
}

#slider3 {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/img/slider/slider3.jpg) top center / cover no-repeat;
}
#slider3 .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider3 .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider3 .text-description {
    font-size: 15px;
    margin-top: 25px;
}

#slider4 {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/img/slider/slider4.jpg) top center / cover no-repeat;
}
#slider4 .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider4 .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider4 .text-description {
    font-size: 15px;
    margin-top: 25px;
}


#content {

}

#content .content-section {
    width: 800px;
    padding: 64px 0;
    margin-right: auto;
    margin-left: auto;
}

#content .content-heading {
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
}

#content .content-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    text-align: justify;
    margin-top: 25px;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 48px;
    background-color: #ccc;
}

#content .member-item {
    float: left;
    width: 33.33333%;
    text-align: center;
}

#content .member-name {
    font-size: 15px;
    
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

.tickets-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
    border-radius: 10%;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-bottom: -3px;
}

.cinema-lists {
    margin: 32px -8px 48px;
}

.cinema-item {
    float: left;
    width: 33.33%;
    padding: 0 8px;
}

.cinema-img {
    width: 100%;
    display: block;
}

.cinema-img:hover {
    opacity: 0.7;
}

.cinema-body {
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
}

.cinema-heading {
    font-size: 15px;
}

.cinema-time {
    margin-top: 15px;
    color: #757575;
}

.cinema-desc {
    margin-top: 15px;
    line-height: 1.6;
}

.cinema-buy-btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
}

.cinema-buy-btn:hover {
    color: #000;
    background-color: #ccc;
    border: none;
}

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit-btn {
    background-color: #000;
    color: #fff;
    float: right;
    padding: 10px 16px;
    border: none;
}

.contact-form .form-submit-btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.end-slider-section {
    width: 100%;
    padding-left: 16px;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 20px;
}

#footer .socials-list a {
    color: #757575;
    text-decoration: none;
}

#footer .socials-list a:hover {
    color: #000;
}

#footer .copyright {
    margin-top: 16px;
    color: #757575;
}

#footer .copyright a {
    color: #757575;
}

#footer .copyright a:hover {
    color: #000;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    background: rgba(107, 107, 244, 1);
    height: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-close:hover {
    opacity: 1;
    color: red;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
}

#modal-label {
    display: inline-block;
}

#modal-label .subtime {
    list-style-type: none;
}

#modal-label > li {
    display: inline-block;
}
#modal-label li {
    position: relative;
}
#modal-label > p > li {
    color: #fff;
    text-transform: uppercase;
}

#modal-label p li {
    text-decoration: none;
    line-height: 48px;
    padding: 0 24px;
    display: block;
}
#modal-label li:hover .subtime {
    display: block;
}

#modal-label .subtime li:hover ,
#modal-label > li:hover {
    background-color: #ccc;
    color: #000;
}

#modal-label .subtime {
    list-style-type: none;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#modal-label .subtime li:hover {
    color: #000;
}

#modal-label .subnav p {
    color: #000;
    padding: 12px;
    line-height: 38px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets {
    background: rgba(107, 107, 244, 1);
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
}

#buy-tickets:hover {
    cursor: pointer;
    opacity: 0.7;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: blue;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
}
}